<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.example.ravitsemussovellus" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:screenOrientation="portrait">
    <activity android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        android:name=".SplashActivity"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.AppCompat.Light"
        android:label="@string/title_activity_kysely"
        android:name=".KyselyActivity"
        android:screenOrientation="portrait"/>
    <activity android:name=".UniStressi"
        android:screenOrientation="portrait"
        android:label="Lisää uni ja stressi tiedot"
        android:theme="@style/AppDialogTheme"/>
    <activity android:name=".Ruoka"
        android:screenOrientation="portrait"
        android:label="Lisää uusi ruokailu"
        android:theme="@style/AppDialogTheme"/>
    <activity android:name=".Liikunta"
        android:screenOrientation="portrait"
        android:label="Lisää uusi harjoitus"
        android:theme="@style/AppDialogTheme"/>
    <activity android:theme="@style/Theme.AppCompat.Light"
        android:label="@string/title_activity_raportit"
        android:name=".RaportitActivity"
        android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
</application>
</manifest>